section{
    padding: 5px;
    margin: 20%;
    text-align: center;
    background-color:  #A7E5DB;
}
button{
    cursor: pointer;
    padding: 5px;
    margin: 15px;
}
section,div{
    padding: 20px;
}


table {
    margin : auto;
    font-family : "Trebuchet MS", "Verdana", "Georgia", serif;
    font-size : 14px;
    margin-bottom: 20px;
    }
td{
border: 1px solid black;

}
