body {
    flex-wrap: wrap;
}

section {
    padding: 5px;
    margin: 20%;
    text-align: center;
    background-color: #A7E5DB;
}

button {
    cursor: pointer;
    padding: 5px;
    margin: 20px;
    width: 130px;
}

section,
div {
    padding: 20px;
}


table {
    margin: auto;
    font-family: "Trebuchet MS", "Verdana", "Georgia", serif;
    font-size: 12px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
}

td {
    border: 1px solid black;
    padding: 0;
}

img {
    width: 110px;
    height: 110px;
    float: right;
    padding: 7%;
    padding-top: 1px;
    margin: 1px;
}